<%- include('partials/head')%>
  </head>
  <body class="bg-[#FFFFFC] flex-col justify-items-center">
    <%- include('partials/nav')%>
    <header class=" w-fit h-36  flex justify-center items-center text-black font-mono font-bold text-4xl">
      <h1 class="">home register successfully!</h1>
    </header>
    <main class=" shadow-slate-600 rounded-lg bg-slate-700 text-white w-fit h-fit p-2 shadow-md  hover:shadow-xl hover:scale-[1.02] transition duration-300 ">
      <a class=" hover:cursor-pointer" href="/">go to home page</a>
    </main>
  </body>
</html>
