<%- include('partials/head')%>
  </head>
  <body class="bg-[#FFFFFC] flex-col justify-items-center">
    <%- include('partials/nav')%>
    <header class="flex-col justify-items-center mt-20">
      <h1 class="text-4xl text-red-600 font-mono">404</h1>
      <h1 class="text-xl  text-red-600 font-mono font-bold"> oops! page not found </h1>
    </header>
  </body>
</html>
