<div>
  <form action="/favouriteList" method="POST">
    <button
      type="submit"
      class="px-2 bg-[#74d9ee] rounded-md text-black font-mono font-bold w-fit h-fit hover:bg-[#3bcce9] rounded-md px-2"
    >
      Favourite
    </button>
    <input type="hidden" name="homeId" value="<%= home.id %>" />
  </form>
</div>
